.intoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.bgc {
    background: rgba(0, 0, 0, 0.6);
  }

  .boxWithShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }