.bgmg{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqmDteKSoWCjyxCDxbIBQSeAbN_hQ1FxrgsOAFulU11gxM0TvzCTuQiELC_XchfVojl3Y&usqp=CAU');
}

.Secbgc {
    background: rgba(0, 0, 0, 0.6);
  }
  .btnbgc {
    background: rgba(255, 254, 254, 0.6);
  }