.bgImg{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/017/543/335/large/patrick-jensen-patrickjensen-gameofthrones-northgrovevillageconceptfinal.jpg?1556412678");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
}
